* {
    padding: 0;
    margin: 0;
    font-family: 'Sofia Sans', sans-serif;
}

:root {
    --main-bg-color: #FCFCFC;
    --orange: #FF5733;
    --red: #C70039;
    --red-hover-btn: #f90070;
    --red-a-btn: #920029;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

header h1 {
    max-width: 100%;
    margin-top: 3%;
    font-size: 4em;
}

header span {
    font-family: 'Dancing Script', sans-serif;
    font-size: 4em;
    color: var(--red);
    text-align: center;
}

main {
    margin-top: 10px;
    display: flex;
    gap: 50px;
    padding: 15px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

main img {
    margin-top: 25px;
    height: 150px;
    border-radius: 25px;
    border: 3px solid var(--red);
    transition: .3s;
}

main img:hover {
    height: 150px;
    border-radius: 25px;
    border: 3px solid var(--red-hover-btn);
    cursor: grab;
    scale: 1.05;
}

main:has(img:hover) img:not(:hover) {
    opacity: .6;
    scale: .98;
}

.subtitle {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-size: 1.5rem;
    font-style: italic;
}

fieldset {
    border: none;
    text-align: center;
}

fieldset:hover {
    scale: 1.05;
}

a {
    text-decoration: none;
    color: var(--red-a-btn);
    font-size: 0.9rem;
    font-style: italic;
}
